
/* === ОБЩАЯ СТИЛИЗАЦИЯ === */
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.container {
  width: 100%;
  max-width: 1170px; /* Ширина контента. Зависит от макета, обычно 1140px - 1440px */
  margin: 0 auto;    /* margin-left: auto и margin-right: auto центрируют блок! */
  padding: 0 10px;
  box-sizing: border-box;
}
.title {
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
}
.subtitle {
  color: var(--color-primary); /* Наш оранжевый из переменных! */
  font-size: 14px;
  font-weight: 600; 
  text-transform: uppercase; /* Все буквы заглавные */
  letter-spacing: 2px; /* Слегка раздвигаем буквы */
  margin-bottom: 10px; /* Отступ до главного заголовка */
}
.subtitle-light {
  color: var(--color-text-secondary);
  font-size: 14px;
  font-weight: 600; 
  text-transform: uppercase; /* Все буквы заглавные */
  letter-spacing: 2px; /* Слегка раздвигаем буквы */
  margin-bottom: 10px; /* Отступ до главного заголовка */
}
.btn {
  display: inline-block; /* Чтобы кнопка не занимала всю ширину экрана */
  padding: 16px 60px; /* Внутренние отступы (верх/низ, лево/право) */
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  background-color: var(--color-primary);
  color: var(--color-text);
  letter-spacing: 8%;
  border-radius: 4px;
}
.btn-light {
  background-color: var(--color-bg);
}

/* === СТИЛИЗАЦИЯ ХЕДЕРА === */
.header {
  border-bottom: 1px solid #000000; 
  padding: 20px 0; /* Отступы сверху и снизу, чтобы шапка не была слишком узкой */
}
.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
  font-size: 36px;
  font-weight: 800;
  text-decoration: none;
  color: var(--color-text);
}
.header-nav {
  display: flex; /* Делаем группу flex-контейнером */
  align-items: center; /* Центрируем меню и кнопку по вертикали */
  gap: 60px; /* Отступ между меню и кнопкой*/
}
.main-menu ul {
  display: flex; 
  gap: 30px; /* Расстояние между словами "Курсы", "Новости"... */
  list-style: none; 
  margin: 0;
  padding: 0;
}
.main-menu a {
  text-decoration: none; /* Убираем подчеркивание у ссылок */
  color: var(--color-text);
}
.btn-login {
  background-color: var(--color-primary);
  color: var(--color-text-secondary);
  padding: 10px 24px;
  border: 1px solid var(--color-primary-border);
  border-radius: 8px; /* Слегка закругляем углы */
  text-decoration: none;
}

/* === СЕКЦИЯ: КАТАЛОГ КУРСОВ === */
.catalog-section {
  padding-top: 40px;    
  padding-bottom: 140px; 
  opacity: 1;
}

/* Оранжевый подзаголовок */
.catalog-section .subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: #FF7D2C;
  margin-bottom: 19px;
  text-transform: uppercase;
}

/* Главный заголовок */
.catalog-section .title {
  font-family: 'Montserrat', sans-serif;
  font-size: 59px;
  font-weight: 500;
  color: #000000;
  margin: 0 0 35px 0;
  letter-spacing: -0.5px;
}

/* Контейнер фильтров и поиска */
.catalog-controls {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
  gap: 10px; 
}

/* Rfntujhbb */
.categories {
  display: flex;
  flex-wrap: wrap;
  width: 610px;              
  height: 152px;             
  gap: 10px;                 
  align-content: flex-start; 
}

.category-tag {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  
  display: flex;
  align-items: center;      
  justify-content: center;  
  
  width: 112px;           
  height: 44px;            
  padding: 0;               
  
  border-radius: 8px;       
  border: 1px solid #FF7D2C;
  box-sizing: border-box;
  
  background-color: transparent;
  color: #000000;
  cursor: pointer;
  transition: all 0.3s;
  white-space: nowrap;      
}


.category-tag.active {
  width: 211px;          
  background-color: #FF7D2C; 
  color: #FFFFFF;
}

.category-tag:hover:not(.active) {
  background-color: #FFF0E6; 
}

/* Поле поиска (ТОЧНО ПО ФИГМЕ) */
.search-input {
  font-family: 'Montserrat', sans-serif; 
  width: 550px;             /* Ширина из макета */
  min-width: 550px;         /* Минимальная ширина */
  height: 44px;             /* Высота из макета */
  padding: 12px;            /* Внутренний отступ */
  border: 1px solid #FF7D2C; 
  border-radius: 12px;      /* Скругление 12px */
  font-size: 16px;
  font-weight: 400;
  outline: none;
  color: #000000;
  box-sizing: border-box;   /* Чтобы padding не ломал высоту */
}

.search-input::placeholder {
  color: #888888; 
}

/* --- СЕТКА КАРТОЧЕК --- */
.course-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px; 
}

/* Сама карточка (ТОЧНО ПО ФИГМЕ) */
.course-card {
  height: 325px;            /* Строгая высота 325px */
  padding: 20px;            /* Внутренний отступ 20px */
  border: 2px solid #FF7D2C;/* Рамка 2px */
  border-radius: 8px;       /* Скругление 8px */
  display: flex;
  flex-direction: column;
  gap: 6px;                 /* Идеальный отступ между всеми элементами внутри! */
  background-color: #FFFFFF;
  box-sizing: border-box;
}

/* Название курса */
.course-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 700; 
  color: #000000;
  margin: 0;                /* margin больше не нужен благодаря gap: 6px у родителя */
  line-height: 1.2;
}

/* Описание курса */
.course-desc {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  color: #888888; 
  font-weight: 400;
  margin: 0;                /* margin убран */
}

/* Серый квадрат для фото */
.course-image-placeholder {
  background-color: #D9D9D9; 
  width: 100%;
  flex: 1;                  /* Занимает всё оставшееся свободное место в карточке */
  min-height: 120px;        /* Защита, чтобы картинка не сплющилась */
  border-radius: 4px;
  margin: 0;
}

/* Блок с ценами (прижимается к низу) */
.course-price-wrapper {
  margin-top: auto; 
  padding-top: 10px;        /* Небольшой отступ от картинки сверху */
  display: flex;
  flex-direction: column;
  gap: 2px;                 /* Отступ между двумя ценами */
}

/* Цена за месяц */
.course-price {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600; 
  color: #000000;
  margin: 0;
}

/* Цена полная */
.course-price-full {
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  color: #888888; 
  font-weight: 400;
  margin: 0;
}

/*=== FAQ SECTION ===*/

.faq-section {
  padding-top: 140px;
  padding-bottom: 140px;
}

/* --- Заголовки --- */
.faq-title {
  margin-bottom: 60px;
}

/* --- Секция вопросов --- */
.faq {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

.faq-item {
  border: 1px solid var(--color-primary);
  border-radius: 8px;
  overflow: hidden; /* Чтобы контент не вылезал за скругления */
}
.faq-question {
  list-style: none;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 26px;

  cursor: pointer;

  font-weight: 500;
  font-size: 16px;
}

/* --- Стрелка --- */
.faq-arrow {
  width: 10px;
  height: 10px;
  border-right: 1.5px solid #000;
  border-bottom: 1.5px solid #000;
  transform: rotate(45deg);
  transition: transform 0.3s ease; /* Плавная анимация поворота */
}
/* Состояние открытого вопроса: поворачиваем стрелку вверх */
details[open] .faq-arrow {
  transform: rotate(225deg);
}

.faq-answer {
  padding: 0 25px 25px 25px;
  color: #666;
  font-size: 15px;
  line-height: 1.5;
}
/* --- Кнопка --- */
.faq-btn {
  display: flex;
  justify-content: center;
}

/*=== CONSULTATION SECTION ===*/

.consultation-section {
  padding: 60px 0px;
}
.consultation-content {
  background: linear-gradient(90deg, rgba(228, 121, 54, 1) 0%, rgba(250, 146, 81, 1) 50%, rgba(201, 91, 22, 1) 90%, rgba(255, 144, 75, 1) 100%);
  padding: 20px;
  border-radius: 8px;
}
.consultation-title {
  margin-bottom: 30px;
}
/* Сетка для инпутов (в один ряд) */
.form-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 равные колонки */
  gap: 20px; /* Расстояние между полями */
  margin-bottom: 20px;
}

/* Стили полей ввода */
.form-input {
  flex: 1; /* Чтобы все поля заняли одинаковую ширину */
  height: 50px;
  padding: 0 25px;
  border: none;
  border-radius: 50px; /* Форма таблетки */
  font-size: 15px;
  outline: none; /* Убираем обводку при клике */
}
/* Цвет плейсхолдера (подсказки внутри поля) */
.form-input::placeholder {
  color: rgba(0, 0, 0, 0.7);
}

/* Стили кнопки отправки */
.form-submit-btn {
  height: 50px;
  padding: 0 40px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 50px; /* Форма таблетки */
  font-size: 16px;
  cursor: pointer;
  transition: opacity 0.3s;
  white-space: nowrap; /* Чтобы текст кнопки не переносился */
}
.form-submit-btn:hover {
  opacity: 0.8;
}

/* Общий контейнер */
.custom-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  color: var(--color-text-secondary);
  font-size: 12px;
  font-weight: 500;
  user-select: none; /* Чтобы текст не выделялся при быстрых кликах */
}

.custom-checkbox a {
  text-decoration: underline;
  color: var(--color-text-secondary);
}

/* Прячем стандартный чекбокс */
.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Рисуем свой красивый квадратик */
.checkmark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  background-color: var(--color-bg);
  border: 1px solid #FFFFFF; /* Белая рамка как на макете */
  border-radius: 2px;
  margin-right: 12px;
  transition: all 0.2s ease;
}

/* Меняем фон при клике (когда checked) */
.custom-checkbox input:checked ~ .checkmark {
  background-color: #FFFFFF;
}

/* Рисуем галочку (сначала она скрыта) */
.checkmark::after {
  content: "";
  display: none;
  width: 4px;
  height: 8px;
  border: solid var(--color-primary); /* Оранжевый цвет галочки, чтобы было видно на белом */
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  margin-bottom: 2px; /* Центровка галочки */
}

/* Показываем галочку, когда инпут отмечен */
.custom-checkbox input:checked ~ .checkmark::after {
  display: block;
}

/*=== FOOTER SECTION ===*/

.footer {
  border-top: 1px solid var(--color-text);
  padding: 40px 0;
}

/* Настройка сетки Grid */
.footer-grid {
  display: grid;
  /* Делим на 4 колонки. Пропорции: 1.2 части, 1 часть, 1.2 части, 1.5 частей */
  grid-template-columns: 1.2fr 1fr 1.2fr 1.5fr; 
  gap: 30px; /* Отступы между колонками */
}

/* --- СТИЛИ ПЕРВОЙ КОЛОНКИ --- */
.footer-logo {
  display: inline-block;
  margin-bottom: 30px;
}

.footer-socials {
  margin-bottom: 30px;
}
.footer-socials p {
  font-size: 16px;
  color: var(--color-text);
  font-weight: 400;
  margin-bottom: 6px;
}
.social-icons {
  display: flex;
  gap: 10px;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}
.contact-phone, .footer-email {
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: var(--color-text);
  text-decoration: none;
  margin-bottom: 3px;
}
.contact-desc {
  display: block;
  font-weight: 400;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.7); 
}

.footer-email-div {
  margin-bottom: 30px;
}

.footer-adress {
  font-size: 16px;
  font-weight: 500;
}

/* --- СТИЛИ СПИСКОВ (МЕНЮ) --- */

.footer-title {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-text);
  margin-bottom: 10px;
}

.footer-list {
  list-style: none; /* Убираем точки у списка */
  display: flex;
  flex-direction: column;
  gap: 6px; /* Расстояние между ссылками в списке */
}

.footer-list a {
  font-size: 16px;
  color: var(--color-text);
  text-decoration: none;
}

/*=== АДАПТИВ ===*/

@media (max-width: 992px) {
  section {
    padding: 60px 0;
  }
  .container {
    max-width: 860px;
    width: 100%;
  }
  .hero-title {
    font-size: 40px;
  }
  .title {
    font-size: 28px;
  }

  .features-grid { 
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .teachers-grid { 
    grid-template-columns: 1fr; 
  }
  .teacher-card {
    flex-direction: column; 
  }
 .teacher-placeholder {
    width: 100%;
    height: auto;
  }

  .footer-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 равные колонки */
    gap: 40px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 620px;
  }
  
  .header-inner {
    flex-direction: column;
    gap: 15px;
    padding: 15px 0;
  }
  .header-nav {
    display: flex;
    flex-wrap: wrap; /* Разрешаем ссылкам переноситься на новую строку */
    justify-content: center;
    gap: 10px 15px;
  }

  .form-grid {
    grid-template-columns: 1fr;
  }
  .consultation-content {
    padding: 10px;
  }
}
@media (max-width: 576px) {
  section {
    padding: 40px 0;
  }
  .container {
    max-width: 540px;
  }
  .hero-title {
    font-size: 32px;
  }
  .title {
    font-size: 24px;
  }

  .features-grid {
    grid-template-columns: 1fr;
  }

  .faq-question {
    font-size: 14px;
    padding: 15px; 
  }
  .faq-answer {
    font-size: 13px;
    padding: 0 15px 15px 15px;
  }

  .footer-grid {
    grid-template-columns: 1fr; /* 1 колонка на всю ширину */
    gap: 40px;
  }
  
  .footer {
    padding: 50px 0;
  }
}