/* === ГЛОБАЛЬНЫЕ ПЕРЕМЕННЫЕ === */
:root {
  /* Основные цвета бренда */
  --color-primary: #FF7D2C;        /* Основной оранжевый */
  --color-primary-hover: #E65100;  /* На случай если нужен эффект при наведении */
  --color-primary-border: #994b1a;  /* Цвет рамки у кнопки */
  --color-primary-tag: #FF7D2C80;   /* Светло-оранжевый фон для тегов */

  /* Текст */
  --color-text: #000000;           /* Черный для основного текста */
  --color-text-secondary: #FFFFFF; /* Серый для второстепенного текста */
  
  /* Фоны */
  --color-bg: #FFFFFF;             /* Белый фон страницы */
}